/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1, h2, h3{
    color: #333;
}

p{
    color: #70747a;
}

/* Navbar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-itens{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-itens a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-itens a:hover{
    color: #ccc;
}

.default-btn{
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 20px;
}

.navbar-itens .default-btn:hover{
    background-color: #22bb5f;
    color: #fff;
}

/* Main banner */
.main-banner {
    background-image: url("../img/mainbanner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 5px 2px 3px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 32px;
}

/* services */
.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #000;
}
 
.fa-rocket{
    color: #1deee3;
    text-shadow: #000 1px 2px 3px;
    
}

.fa-comments{
    color: #ef8f29;
    text-shadow: #000 2px 2px 3px;
}

.services-container h3{
    margin-bottom: 20px;
}

.services-container p{
    line-height: 24px;
}

/* plans */
.pricing-container{
    text-align: center;
    padding-bottom: 5rem;
    background-color: #f4f5f7;
}

.pricing-container h2{
    font-size: 35px;
}

.pricing-container p{
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul{
    padding: 0;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
    border-left: 1px solid #00000033;
    border-right: 1px solid #00000033;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
    border: 1px solid #00000033;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
    border: 1px solid #00000033;
}

.plan .plan-btn{
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    border: 1px solid #00000033;
}

.plan .recomended{
    background-color: #f45c57;
}